svg.distributed-system {
    & defs {

        & #message,
        #message-reverse {
            & rect {
                fill: var(--background-color);
                stroke: var(--font-color);
                stroke-width: 1;
            }

            & path {
                fill: var(--background-color);
                stroke: var(--font-color);
                stroke-width: 1;
            }
        }
    }

    & g.process {
        &>circle {
            fill: var(--background-color);
            stroke-width: 1;
            stroke: var(--font-color);
        }

        &>text {
            fill: var(--font-color);
            font-size: 5px;
            text-anchor: middle;
            vertical-align: middle;
        }
    }

    & line.link {
        fill: none;
        stroke-width: 1;
        stroke: var(--font-color);

        stroke-dasharray: 4 4;
    }

    & line.message {
        fill: none;
        stroke-width: 1;
        stroke: var(--font-color);

        marker-end: url(#message);

        &.reverse {
            marker-end: url(#message-reverse);
        }
    }

    & g.message {
        &>path {
            fill: var(--background-color);
            stroke-width: 1;
            stroke: var(--font-color);
            stroke-linecap: round;
            stroke-linejoin: round;
        }
    }

    & circle.process {
        stroke-width: 2;
        fill: none;
        stroke: var(--font-color);
    }
}