:root {
  --font-color: black;
  --muted-font-color: grey;
  --link-color: blue;
  --background-color: rgb(255, 246, 229);

  --highlight-color: rgb(9, 255, 0);

  --font-family: NewComputerModern10, serif;
}

:root {
  font-size: 21px;
  font-family: var(--font-family);
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  max-width: 35em;
}

address {
  display: flex;
  flex-direction: column;
}

address {
  margin-bottom: 1em;
}

article>header {
  font-weight: bold;
  font-size: 2em;
}

article>header {
  margin-bottom: 0.5em;
}

section>header {
  font-size: 1.5em;
  font-weight: bold;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span.link {
  text-decoration: underline dotted;
}

a {
  color: var(--link-color);

  &[href^="#"]:visited {
    color: var(--link-color);
  }
}

span.summary {
  text-decoration: underline dotted;
  cursor: pointer;

  &::before {
    content: "\25b8";
  }

  &.open {
    &::before {
      content: "\25BE";
    }
  }
}

div.arrow {
  display: none;

  position: absolute;
  top: -1.5em;

  width: 1em;
  height: 1em;

  border-left: solid 1em transparent;
  border-right: solid 1em transparent;
  border-bottom: solid 1em black;

  &.open {
    display: block;
  }

  &::after {
    content: "";

    width: 0;
    height: 0;

    border-left: solid 1em transparent;
    border-right: solid 1em transparent;
    border-bottom: solid 1em var(--background-color);

    position: absolute;
    top: 2px;
    left: -1em;
  }
}

div.details {
  display: none;

  margin-top: 0.5em;

  border-radius: 0.25em;
  border: solid black 2px;
  padding: 0.5em;

  box-shadow: inset 0.125em 0.125em 0.25em 0 var(--muted-font-color);

  &.open {
    display: block;
  }
}

details {
  display: inline;

  &>summary {
    text-decoration: dotted underline;
  }

  &[open] {
    display: block;
  }
}

ol.visual {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline: 0;

  & li {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-basis: 10em;
    flex-grow: 1;
  }

  & figure {
    width: 10em;
  }

  & p,
  figure {
    margin: 0;
  }
}

ul.visual.example {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  &>li {
    flex-basis: 10em;
  }
}