section.equation {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;

    margin: 1em 0;

    &>math {
        flex-grow: 1;
        margin: 0;

        justify-self: center;

        math-style: normal;
    }
}

ol.math.derivation {
    list-style: none;

    display: grid;
    grid-template-columns: [lhs] auto [rhs] auto [reason] auto;
    align-items: baseline;

    row-gap: 0.25em;

    &>li {
        display: contents;

        &:first-child {
            &>math:first-of-type {
                grid-column: lhs;
            }
        }

        &>math {
            grid-column-start: rhs;
            justify-self: flex-start;

            math-style: normal;
        }

        &>.reason {
            grid-column: reason;
        }
    }

    & math[display="block"] {
        margin: 0;
    }
}

math {

    mrow[title],
    mi[title],
    mo[title],
    msub[title],
    msup[title],
    munder[title],
    msubsup[title],
    mfrac[title],
    mtext.description {
        cursor: pointer;
        padding: 2px;
        margin: 4px;
        border-radius: 0.25em;
        box-shadow: 1px 1px 1px 1px var(--muted-font-color);

        &:hover {
            box-shadow: 1px 1px 1px 1px var(--font-color);

            &:has(mi[title]:hover),
            &:has(mrow[title]:hover),
            &:has(mo[title]:hover),
            &:has(mfrac[title]:hover),
            &:has(mtext.description:hover),
            &:has(msub[title]:hover) {
                box-shadow: 1px 1px 1px 1px var(--muted-font-color);
            }
        }

        &:active {
            box-shadow: inset 1px 1px 1px 1px var(--font-color);
        }
    }
}

mtext.description {
    font-family: var(--font-family);
}

mtext.separator {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

mi.set {
    font-variant-alternates: stylistic(calligraphic);
    font-feature-settings: "ss01";
    -webkit-font-feature-settings: "ss01";
}

mi.underline {
    text-decoration: underline;
}

msub>mtext:nth-child(2) {
    font-size: 0.7rem;
}