* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

var {
    font-style: normal;
}

address {
    font-style: normal;
}

fieldset {
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
    border: none;
}